@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-cta-color: var(--cta-color);
	--color-text-box: var(--text-box);
	--color-text-color: var(--text-color);
	--color-active-color: var(--active-color);

	--font-teksti: 'Times New Roman', sans-serif;
}

@layer base {
	/* teeman muutoksen animaatiot */
	[data-theme] {
		&,
		& * {
			transition-property: background-color, color, border-color;
			transition-duration: 300ms;
			transition-timing-function: ease;
		}
	}
	html {
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
}

/* default theme colors */
:root {
	--cta-color: #ff6635;
	--text-box: #f5ea8e;
	--text-color: #33261d;
	--active-color: #b43a11;
	--bg-image: url('/retro-casette-bg.png');
}

/* dark mode theme colors */
[data-theme='dark'] {
	--cta-color: #b43a11;
	--text-box: #48362c;
	--text-color: #f4e87c;
	--active-color: #ff6635;
	--bg-image: url('/retro-casette-bg-dark.png');
}
